#current-series {

    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;

    color: white;
    background-color: $darkgray;

    .title,
    button {

        padding: .5em 1em;
        background-color: $blue;
    }

    .title {

        position: absolute;
        top: -2em;
    }

    #thumbs{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.5em;
        margin-bottom: 2em;

        .box {

            color: white;
            
            .img-container {
                
                height: 150px;
                margin-bottom: 1em;
    
                overflow: hidden;
    
                img {
    
                    max-width: 100%;
                }
            }
        }
    }

    button {

        display: block;
        margin: 0 auto;
        border: none; 

        font-weight: 600;
        color: white;
    }
}

#cta {

    @include vertical-padding; 

    background-color: $blue;
    color: white;

    ul {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        font-size: 0.8em;
    
        li {
    
            a {
    
                display: flex;
                align-items: center;
    
                img {
        
                    max-height: 50px;
                    margin-right: 1em;
    
                }
            }
            
            &:last-child {
    
                img {
    
                    max-height: 40px;
                }
            }
        }
    }
}