footer {

    #main-footer {

        padding-top: 2%;
        padding-bottom: 2%;
        position: relative;
        overflow: hidden;
    
        color: $lightgray;
        background-image: url('/storage/assets/footer-bg.jpg');
    
        nav {
    
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    
            width: fit-content;
            height: 400px;
    
            .f-list {
    
                margin: 1em 2em 1em 0;
    
                h2 {
    
                    color: white;
                }
                
                ul {
    
                    li {
    
                        margin-top: .5em;
                    }
                }
            }
        }
    
        #logo-bg {
    
            position: absolute;
            right: 15%;
            top: -50px;
        }
    }

    #bottom-bar {

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 2%;
        padding-bottom: 2%;
        background: $gray;

        button {

            padding: 1em 2em;
            color: white;
            font-weight: 600;
            background-color: transparent;
            border: 3px solid $blue;
        }

        .social {

            h2 {

                display: inline-block;
                color: $blue;
                vertical-align: middle;
            }

            ul {
                
                display: inline-block;
                vertical-align: middle;

                li {
    
                    display: inline-block;
                    margin-left: 1em;
    
                    img {
        
                        max-width: 30px;
                    }
                }
            }

        }
    }
}